

.amarillitas-4 {
  display: inline;
  background-color:#FFD700;
  font-family: "verdana";
  font-size: 150%;
  margin:5px;
  }
 .roja-4{
   display:inline;
   background-color:#B22222;
   font-family:"verdana";
   font-size: 150%;
   margin:5px;
}
