.amarillitas{
  background-color:#FFD700;
  font-family: "verdana";
  font-size: 100%;
  height: 90px;

}
.roja{
  background-color:#B22222;
  font-family: "verdana";
  font-size: 100%;
  height: 90px;
}
